# Ключ CoinMarketCap - еесли оставить пустым - сервис падает в фолбэк на бесплатный
# coingecko (проект все равно запустится и будет работать для демо)
CMC_API_KEY=

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crypto
POSTGRES_HOST=db
POSTGRES_PORT=5432

# адрес апихи для стримлита
API_URL=http://api:8000
